<h1>Profiles#index</h1>


<div id= "map" data-latitude= "<%= @profile.latitude.to_f %>" data-longitude="<%=@profile.longitude.to_f%>"></div>

<% if @profiles %>
  <% @profiles.each do |p| %>
    <li>
        <%= p.age %>
        <%= p.display_distance_to(params[:search]).round(2)%><p>kms away</p>
    </li>
  <%end%>
<%end%>
