
<section class="homepage_pic has-overlay"
data-slides='[
  "assets/robocare.jpg",
  "assets/robocare2.jpg",
  "assets/robocare3.jpg",
  "assets/robocare4.jpg"
]'
>
  <div class="row">
    <h1>WeRoboCare your loved ones</h1>

    <div class="search">
      <%= form_tag profiles_path, method: :get do %>
        <%#= label_tag :Location, params[:search] %>
        <%= text_field_tag :search, nil, placeholder: "Search robositters near me" %>
        <%= submit_tag "Search", id: "search_button" %>
      <% end %>
    </div>
  </div>
</section>
