
<section class="homepage_pic has-overlay"
data-slides='[
  "assets/robocare.jpg",
  "assets/robocare2.jpg",
  "assets/robocare3.jpg",
  "assets/robocare4.jpg",
  "assets/robocare5.jpg",
  "assets/robocare6.jpg"
]'
>
  <div class="row">
    <!-- <h1>WeRoboCare your loved ones</h1> -->

    <div class="search">
      <%= form_tag profiles_path, method: :get do %>
        <%#= label_tag :Location, params[:search] %>
        <%= text_field_tag :search, nil, placeholder: "ENTER LOCATION" %>
        
        <%= button_tag "", id: "search_button" do %>
          <i class="fa fa-search" aria-hidden="true"></i>
        <%end%>
      <% end %>
    </div>
  </div>
</section>


<div class="flex-boxes">
  <a href="javascript:void(0)" class="flex-box">
    <img src="nearby.png" alt="">
    <h1 class="flex-title"> Find a care giver nearby you! </h1>
    <p>Simply search your location, and we will show you all the nearby care givers! </p>
  </a>
  <a href="javascript:void(0)" class="flex-box">
    <img src="profile.png" alt="">
    <h1 class="flex-title">Simple Sign up to book a care giver</h1>
    <p>Easy sign up and booking process for service seeker!</p>
  </a>
  <a href="javascript:void(0)" class="flex-box">
    <img src="signup.png" alt="">
    <h1 class="flex-title">Become a Care Giver</h1>
    <p>Simply create a PROFILE!</p>
  </a>
</div>





<footer class="footer" role="contentinfo">
  <div class="footer-logo">
    <img src="robot_love.png" alt="Logo image">
  </div>
  <div class="footer-links">
    <ul>
      <li><h3>Content</h3></li>
      <li><a href="javascript:void(0)">About</a></li>
      <li><a href="javascript:void(0)">Contact</a></li>
      <li><a href="javascript:void(0)">Products</a></li>
    </ul>
    <ul>
      <li><h3>Follow Us</h3></li>
      <li><a href="javascript:void(0)">Facebook</a></li>
      <li><a href="javascript:void(0)">Twitter</a></li>
      <li><a href="javascript:void(0)">YouTube</a></li>
    </ul>
    <ul>
      <li><h3>Legal</h3></li>
      <li><a href="javascript:void(0)">Terms and Conditions</a></li>
      <li><a href="javascript:void(0)">Privacy Policy</a></li>
    </ul>
  </div>

  <hr>

  <p>Robots made with <i class="fa fa-heartbeat" aria-hidden="true"></i></p>
</footer>
