// A file for common classes and mixins to use across the app

.has-overlay {
  position: relative;

  &:after {
    background-color: #33353A;
    position: absolute;
    opacity: 0.4;
    content: '';
    z-index: $zindexOverlay;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
  }

}

// .search {
//   z-index: $zindexSearch;
//   position: relative;
// }
