input[type="text"] {

  &#search {
    display: inline-block;
    border-radius: 3px;
    line-height: 30px;
    padding: 5px 10px;
    font-size: 14px;
    margin: 0 auto;
    width: 300px;
    border: none;
  }
}
