// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*,
*:after,
*:before {
  box-sizing: border-box;
}


$font-stack: Helvetica, sans-serif;
$green: #AAF200;
$orange: #FF8000;
$light_grey: 	#cccccc;
$grey_trans: rgba(204, 204, 204, 0.5);
$black: #282828;


html, body {
  height: 100%;
}

body {
  font: 100% $font-stack;
  color: $black;
  background-color: white;
  margin: 0;
}

h1 {
  color: $green;
}
.nav {
  background-color: $orange;
  margin: o;
  line-height: 20px;
  overflow: hidden;


  ul {
    list-style: none;
    display: inline-flex;
    justify-content: flex-end;
    // width: 100%;
    float: right;
    font-size: 0.8rem;
    overflow: hidden;
    margin:0;
  }

  li {
    display: block;
    text-decoration: none;
    color: white;
    margin: 2px 10px;
      }
  span{
    line-height: 20px;
  }

  a {
    display: block;
    // padding: 6px 12px;
    text-decoration: none;
    color: white;
    padding-right: 20px;
    padding: 5px 5px;
  }
}

.home_nav {
  display: inline-block;
  position: relative;
  left: 10px;
  font-size: 0.8rem;
  a{
    color: $green;
  }
}

.login_modal,
.signup_modal {
  display: none;
  position: absolute;
  z-index: 1;
  width: 60%;
  padding-bottom: 5%;
  text-align: center;
  background-color: white;
  border: 1px solid $orange;
  right: 20%;
  left: 20%;
  margin-top: 10px;
}


.submit_button {
  color: $green;
  background-color: $orange;
  border: 2px solid $orange;
  border-radius: 10px;
  padding: 5px 20px;

}

#map {
  height: 400px;
  width: 80%;
  right: 10%;
  left: 10%;
}

.homepage_pic{
  background-image: url("robocare.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  h1{
    text-align: center;
    left: 50%;
    margin: auto;
    position: absolute;
    top: 70%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .search{
    text-align: center;
    left: 50%;
    margin: auto;
    position: absolute;
    top: 80%;
    transform: translate(-50%, -50%);
    width: 100%;


  }
}

.show_nearby_babysitters {
  text-align: center;
.nearby_babysitters{
  list-style-type: none;
}
}


.close {
  background-color: $orange;
  color: $green;
  border: 1px solid $orange;

}
