// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*,
*:after,
*:before {
  box-sizing: border-box;
}


$font-stack: Helvetica, sans-serif;
$green: #AAF200;
$orange: #FF8000;
$light_grey: 	#cccccc;
$grey_trans: rgba(204, 204, 204, 0.5);
$black: #282828;


html, body {
  height: 100%;
}

body {
  font: 100% $font-stack;
  color: $black;
  background-color: $grey_trans;
  margin: 0;
}

.home_nav {
  float: left;
  display: inline-block;
  font-size: 0.8rem;
  a{
    color: $black;
  }
}

nav {
  background-color: $orange;
  margin: 5px;
  overflow: hidden;


  ul {
    list-style: none;
    display: inline-flex;
    justify-content: flex-end;
    // width: 100%;
    float: right;
    font-size: 0.8rem;
    overflow: hidden;
    margin:0;
  }

  li {
    display: block;
    text-decoration: none;
    color: $black;
      }

  a {
    display: block;
    // padding: 6px 12px;
    text-decoration: none;
    color: $black;
    padding-right: 20px;
    padding: 5px 5px;
  }
}
