// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.babysitter_profile {
  text-align: center;
  // overflow: hidden;

}
.photo{
  float: left;
}

.caregiver_form {
  text-align: center;
}

// review partial
.star_rating {
  background-image:url("png") 0 0;
  display: inline-block;
}

#reviewContainer {
  display: none;
  border: 1px solid $orange;
  padding: 20px;
}
