// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#reviewContainer {
  display: none;
  // border: 1px solid $orange;
  padding: 20px;
}

.reviews {
  border: 1px solid $orange;
  padding: 20px;
  width: 35%;
  height: 50%;
  margin-left: 50%;
  margin-right: 15%;

}

// review partial

.star_rating, .dependability,
.punctuality,.relaiable_transportation,
.hire_again {
  display: inline-block;
  width: 100%;
  height: 20px;
  label {
    font-size: 0;
  }
  p {
    margin: 0;
  }
  .star {
    font-size: 2rem;
    color: $green;
  }

 input {
  display: none;

  }
}
