// Font-related variables
$font-stack:             Helvetica, sans-serif;

// Color Vairables
$green:                  #AAF200;
$orange:                 #FF8000;
$lightGrey: 	           #cccccc;
$greyTrans:              rgba(204, 204, 204, 0.5);
$black:                  #282828;
