<div class = "ajax_call">
<button type = "button" class = "close">close</button>
<h1>Booking Confirmation:</h1>
  <p><span>Start Time: </span> <%= @booking.start_time%></p>
  <p><span>End Time: </span> <%= @booking.end_time%></p>
  <p><span>Adress: </span> <%= @booking.address %></p>
</div>
